#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 11.1rem;
  width: 100%;
  padding: 4rem 0 0;
  z-index: 2;

  h1 {
    font-size: 3.2rem;
    font-weight: 300;
    color: map-get($colors, white);
  }

  span {
    margin-right: 5rem;
    color: map-get($colors, white);
  }

  a {
    color: map-get($colors, white);
    text-decoration: unset;

    &:hover {
      text-decoration: underline;
    }
  }
}

#navbar__right {
  display: flex;
  align-items: center;  
}

#navbar__right__icon {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba(map-get($colors, black), 0.8);
  }

  img {
    width: 60%;
    height: 60%;    
    transform: rotateY(180deg);
  }
}

