div#vote_card_simple
  div#vote_card_simple__background(style="background-image: url('../assets/dimebag.jpg')")
  div#vote_card_simple__overlay
  div#vote_card_simple__content
    span#vote_card_simple__content__info What's your opinion on
    h2#vote_card_simple__content__title Dimebag Darrel?
    p#vote_card_simple__content__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus non porro earum voluptatem corrupti! Reiciendis voluptatibus soluta ea.
    a#vote_card_simple__content__link(href="https://en.wikipedia.org/wiki/Dimebag_Darrell" target="_blank")
      img(src="../assets/wikipedia.svg" alt="wiki")
      span More information
    p#vote_card_simple__content__end What's your vote?
  div#vote_card_simple__options
    div#vote_card_simple__options__accept
      img(src="../assets/thumbs_up.svg" alt="like")
    div#vote_card_simple__options__reject
      img(src="../assets/thumbs_up.svg" alt="like")