#index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#index__header {
  display: flex;
  background-size: cover;
  width: 100%;
  height: 74.1rem;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(map-get($colors, black), 0.4);
  }
}

#index_header_vote {
  position: absolute;
  top: 16.1rem;
  left: 13.2rem;
  width: 50rem;
  height: 38rem;
}

#index_header_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.1rem;
  display: flex;
}

#index__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 102.5rem;
  padding-top: 3.2rem;
}

#index__body__title {
  width: 100%;
  font-weight: 300;
  font-size: 3.8rem;
  margin-top: 3.9rem;
  margin-bottom: 4rem;
}

#index__body__poll {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

#index__body__poll__single {
  width: 48%;
}

#index__footer {
  display: flex;
  width: 100%;
  border-top: dashed 0.1rem map-get($colors , black);
  max-width: 102.5rem;
  padding-top: 2.9rem;
  margin-bottom: 5.2rem;

  a {
    cursor: pointer;
    color: map-get($colors , black);
    text-decoration: unset;
  }
}

#index__footer__left {
  width: 90%;
  a {
    margin-right: 1.6rem;
  }
}

#index__footer__right {
  width: 10%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}