div#navbar
  h1 Rule of Thumb.

  div#navbar__right
    span
      a(href="../pages/past_trials.pug") Past Trials
    span
      a(href="../pages/how_it_works.pug") How It Works
    span
      a(href="../pages/log_in_sign_up.pug") Log In / Sign Up
    img(src="../assets/search.svg", alt="search")
