div#poll_closing_indicator
  div#poll_closing_indicator__bg
    div#poll_closing_indicator__left
      #poll_closing_indicator__left__triangle
    div#poll_closing_indicator__right
  div#poll_closing_indicator__content
    div#poll_closing_indicator__content__left 
      span closing in
    div#poll_closing_indicator__content__right
      span
        strong 22
        span days